[submodule "services/Product-Service"]
	path = services/Product-Service
	url = https://github.com/krishu2814/Product-Service
[submodule "services/Cart-Service"]
	path = services/Cart-Service
	url = https://github.com/krishu2814/Cart-Service
[submodule "services/Auth-Service"]
	path = services/Auth-Service
	url = https://github.com/krishu2814/Auth-Service
[submodule "services/Order-Service"]
	path = services/Order-Service
	url = https://github.com/krishu2814/Order-Service
[submodule "services/Payment-Service"]
	path = services/Payment-Service
	url = https://github.com/krishu2814/Payment_Service_EcommerceWebsite
[submodule "services/ApiGateway-Service"]
	path = services/ApiGateway-Service
	url = https://github.com/krishu2814/API_GATEWAY-SERVICE-ECOMMERCE-WEBSITE.git
[submodule "services/Inventory-Service"]
	path = services/Inventory-Service
	url = https://github.com/krishu2814/Inventory-Service.git
[submodule "services/Notification-Service"]
	path = services/Notification-Service
	url = https://github.com/krishu2814/Notification-Service.git
[submodule "services/Review-Service"]
	path = services/Review-Service
	url = https://github.com/krishu2814/Review-Service.git
[submodule "services/AI-Service"]
	path = services/AI-Service
	url = https://github.com/krishu2814/AI-Service.git
